<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TakeOrdersOverTwitterWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TakeOrdersOverTwitterWPF.Properties.Settings>
            <setting name="TwitterUserName" serializeAs="String">
                <value>shanselman</value>
            </setting>
            <setting name="OrderString" serializeAs="String">
                <value>Order</value>
            </setting>
            <setting name="LastOrder" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ConsumerKey" serializeAs="String">
                <value>7N9t29Zazy1wQESTWZLKsA</value>
            </setting>
            <setting name="ConsumerSecret" serializeAs="String">
                <value>2FwppF78AvW7DPVYwB0u4Jz9E8OiwYKdBto624Jk3cc</value>
            </setting>
            <setting name="Token" serializeAs="String">
                <value />
            </setting>
            <setting name="Secret" serializeAs="String">
                <value />
            </setting>
        </TakeOrdersOverTwitterWPF.Properties.Settings>
    </userSettings>
</configuration>